* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: black;
    overflow-x: hidden;
}

header {
    background: transparent;
    color: #fff;
    padding: 1rem 0;
    margin-left: 20px;
    position: relative;
}

header nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

header h1 {
    font-size: 1.5rem;
    position: absolute;
    top: 25px;
    left: 2%;
}

header ul {
    list-style: none;
    display: flex;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
}

header ul li {
    margin-left: 20px;
}

header ul li button {
    color: #fff;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: medium;
}

#bg {
    background: url('../images/bg.gif');
    background-repeat: no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 20%;
}

.cta {
    background: #ff6347;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

#work {
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: 40px 10%;
}

#rullitis-div {
    width: 50%;
    height: 200px;
    text-align: center;
}

#picu-div {
    width: 50%;
    height: 200px;
    text-align: center;
}

#work h2 a {
    color: #fff;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    font-size: 30px;
    color: #23b71b;
    margin-left: 5px;
}

#work h2 a:hover {
    animation: hover 0.3s forwards ease-in;
}

@keyframes hover {
    from {
        padding-left: 0px;
        color: #26d41d;
    }
    to {
        padding-left: 5px;
        color: #1cec12;
    }
}

footer {
    height: 100px;
    padding-top: 500px;
}

@media screen and (max-width: 650px) {
    header ul {
        top: 75px;
    }
    #hero h2 {
        font-size: 2rem;
    }
    #work h2 a {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    #hero h2 {
        font-size: 1.5rem;
    }
    #hero p {
        font-size: 1rem;
    }
    #work h2 a {
        font-size: 16px;
    }
    #someText {
        h2 {
            font-size: 20px;
        }
    }
}

#skills-btn, #contacts-btn {
    cursor: no-drop;
    text-decoration: line-through rgba(255, 255, 255, 0.8);
}

#someText {
    text-align: center;
    color: white;
}

#hero h2 {
    font-size: 3rem;
}

#hero p {
    font-size: 1.2rem;
}

#hero {
    height: 100vh;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
}

#typewriter-div {
    display: flex;
    margin-left: -150px;
    width: 115%;
}

.var-highlight{
    color: #C0AD60;
}
.string-highlight{
    color: rgba(253, 149, 90, 0.8);
}
  
#typewriter{
    font-size: 2em;
    margin: 0;
    font-family: "Courier New";

    &:after{
    content: "|";
    animation: blink 500ms linear infinite alternate;
    }
}
  
@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}