body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    color: white;
    font-family: monospace;
}
h1 {
    margin-top: 50px;
    text-align: center;
}
.work {
    font-size: 22px;
    text-decoration: none;
    color: white;
    margin: 0;
    font-weight: 400;
}
#all-work {
    width: 40%;
    line-height: 0;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 20%;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

#about-me {
    width: 40%;
    color: #34d83c;
    font-family: 'Courier New', Courier, monospace;
    line-height: 24px;
}