#darba-laiks {
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#darba-laiks-h1 {
    font-size: 28px;
    letter-spacing: 4px;
    color: rgb(207, 135, 1);
    font-weight: 100;
    padding-bottom: 20px;
}

#darba-laiks-container {
    width: clamp(500px, 90vw, 1100px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}
/* Pie telefona būs responsive design */

#darba-laiks-container > div {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#darba-laiki {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.darba-laiks-p {
    color: rgb(207, 135, 1);
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

.laiks {
    text-align: center;
    line-height: 25px;
}

.adrese {
    text-align: center;
    line-height: 25px;
    color: black;
}

.email {
    text-decoration: none;
    color: black;
}

.icon {
    width: 40px;
    height: 40px;
}

#soc-med-container {
    margin-top: 40px;
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.soc-med {
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-out;
}

.soc-med:hover {
  transform: scale(1.08);
}