#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    background-image: url(../images/hero4.jpg);
    background-position: top center;
    background-attachment: scroll;
    background-size: cover;
}

.logo {
    width: 200px;
    margin-top: -50px;
}

#hero-h1 {
    color: rgb(207, 135, 1);
    padding-bottom: 10px;
    font-size: 46px;
    font-weight: 400;
}

#hero-h6 {
    color: rgb(207, 135, 1);
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
}

#hero-p {
    color: white;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
}

#hero-arrow {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    width: 30px;
    height: 30px;
}