* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
  button {
    border: none;
    cursor: pointer;
  }
}

body {
  background-color: #151515;
  font-family:Arial, Helvetica, sans-serif;

  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pages {
  display: none;
}

#page1 {
  display: block;
}

#page2, #page3 {
  margin-top: 80px;
}