* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  user-select: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
  line-height: 1.6;
  background-color: #131313;
  position: relative;
}

.bg {
  background-image: url(./assets/car.jpg);
  background-position: center 80%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  opacity: 0.8;
  transition: none;
  will-change: opacity;
  transform: translateZ(0);
  backface-visibility: hidden;
}
