#contacts-container {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    background-color: rgb(120, 69, 42);
    margin: auto;
    padding-top: 20px;
}

#contacts {
    width: 50%;
    height: 100%;
    text-align: left;
    margin: auto;
}

#contacts p {
    color: white;
    font-size: clamp(14px, 2vw, 20px);
    margin-left: 5%;
}

.dent {
    padding-left: 25px;
}

#contacts p a {
    text-decoration: none;
    color: rgb(229, 128, 66);
    transition: all 0.5s;
}

#contacts p a:hover {
    padding-left: 5px;
    transition: all 0.5s;
}

#icon-div {
    margin-left: 5%;
    margin-top: 10%;
}

.icon {
    width: clamp(24px, 4vw, 40px);
}

.someText2 {
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: clamp(14px, 2vw, 20px);
    text-align: left;
    padding: 10px 0 0 10px;
}

#name-div {
    width: 45%;
    height: 100%;
    padding: 5%;
    margin: auto;
}

#name {
    font-size: clamp(14px, 2vw, 24px);
    padding-bottom: 25px;
    color: white;
    font-weight: 600;
}

#about {
    font-size: clamp(12px, 2vw, 20px);
    font-weight: 100;
}

@media screen and (max-width: 900px) {
    #contacts-container {
        height: 300px;
    }
}

@media screen and (max-width: 655px) {
    #contacts > p {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    #contacts-container {
        flex-direction: column;
        height: 400px;
    }
    #contacts {
        width: 90%;
    }
    #name-div {
        width: 90%;
    }
    #contacts > p {
        display: block;
    }
    #icon-div {
        margin-left: 4%;
        margin-top: 5%;
    }
}