footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(96, 54, 32, 1);
}

#author {
    color: whitesmoke;
    text-align: center;
}