footer {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(96, 54, 32, 1);
}

#author {
    color: rgb(208, 208, 208);
    text-align: center;
}