#hero h2 {
    font-size: 3rem;
}

#hero p {
    font-size: 1.2rem;
}

#hero {
    height: 100vh;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
}

#typewriter-div {
    display: flex;
    justify-content: left;
}

.var-highlight{
    color: #C0AD60;
}
.string-highlight{
    color: rgba(253, 149, 90, 0.8);
}
  
#typewriter{
    font-size: clamp(14px, 3vw, 30px);
    margin: 0;
    margin-top: -100px;
    font-family: "Courier New";

    &:after{
    content: "|";
    animation: blink 500ms linear infinite alternate;
    }
}
  
@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}