* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    background-color: black;
    overflow-x: hidden;
}

.bg {
    background: url('../images/bg.gif');
    background-repeat: no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0%;
}

#box {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);

    display: none;
    grid-template-columns: 20px 20px;

    .box-item {
        width: 20px;
        height: 20px;
        display: none;
    }

    div:nth-child(1) {
        background-color: rgba(255, 255, 255, 0.2);
    }
    div:nth-child(2) {
        background-color: rgba(255, 255, 255, 0.4);
    }
    div:nth-child(3) {
        background-color: rgba(255, 255, 255, 0.6);
    }
    div:nth-child(4) {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

#question {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 40px;
    height: 40px;
    background-color: black;
    border: 1px solid red;

    display: none;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 20px;
        color: red;
    }
}