* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    background-color: rgba(96, 54, 32, 1);
    overflow-x: hidden;
}

.bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    z-index: -1;

    background-image: url(../images/bg4.avif);
    background-position: center;
    background-size: cover;
}
html {
    scroll-behavior: smooth;
}